
_build
examples/*/img/*.html
docs/guide/img/*.html
docs/functions/*.html

examples/applics/*.m
examples/approx/*.m
examples/approx2/*.m
examples/calc/*.m
examples/cheb/*.m
examples/complex/*.m
examples/fun/*.m
examples/geom/*.m
examples/integro/*.m
examples/linalg/*.m
examples/ode-eig/*.m
examples/ode-linear/*.m
examples/ode-nonlin/*.m
examples/opt/*.m
examples/pde/*.m
examples/quad/*.m
examples/roots/*.m
examples/stats/*.m
examples/veccalc/*.m
examples/temp/*.m

docs/guide/guide*.m

*.pyc

*.pdf
*.ps
*.eps
*.png
*.jpg
*.jpeg
*.bmp
*.tif
*.tiff
*.svg
*.ttf
*.eot
*.woff
