{% extends "basic.html" %}

{% block title %}
<h1 class='pull-left-15px'><a href='../'>Examples</a><span class='sep'>&raquo;</span>{{page.title}}</h1>
{% endblock %}

{% block sidenav %}
<div class="col-sm-4 noleftpadding">
    <ul class='sidenav'>
    {% for sub in site.examples_subindexes %}
        {% if sub.category == page.category %}
        <li class='active'><a href="{{sub.href}}">{{sub.title}}<span>{{sub.examples_count}}</span></a></li>
        {% else %}
        <li><a href="{{sub.href}}">{{sub.title}}<span>{{sub.examples_count}}</span></a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
<div id='content' class="col-sm-8" role="main">
{% endblock %}

{% block content %}
    {{page.body}}
    <ol class='examples slats'>
    {% for egg in page.examples %}
    <li>
        <a href='{{egg.href}}'>
            <div class='thumbwrapper'><img src='{{egg.img}}' /></div>
            <h3>{{egg.title}}</h3>
            <p>{{egg.authordate}}
                <span class='tags'>
                {%- for tag in egg.tags -%}
                <span href='#' class='tag'>#{{tag}}</span>{% if not loop.last %}, {% endif -%}
                {%- endfor -%}
                </span>
            </p>
        </a>
    </li>
    {% endfor %}
    </ol>
{% endblock %}
