{% extends "basic.html" %}

{% block title %}
<h1 class='pull-left-15px'><a href='../'>Function reference</a><span class='sep'>&raquo;</span>{{page.class_name}}</h1>
{% endblock %}

{% block sidenav %}
<div class="col-sm-3 noleftpadding">
    <ul class='sidenav'>
    {% for item in site.functions_class_names %}
        {% if item == page.class_name %}
        <li class='active'><a href="../{{item}}">{{item}}</a></li>
        {% else %}
        <li><a href="../{{item}}">{{item}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
<div id='content' class="col-sm-9" role="main">
{% endblock %}

{% block content %}
    <dl>
    {% for f in page.function_names %}
    <a href="{{f}}.html"><dt><strong>{{f}}</strong></dt><dd><span class='function-snippet'>{{page.function_snippets[loop.index-1]}}</span></dd></a>
    {% endfor %}
    </dl>
{% endblock %}


<dl>
  <dt>Coffee</dt>
    <dd>Black hot drink</dd>
  <dt>Milk</dt>
    <dd>White cold drink</dd>
</dl>