{% extends "basic.html" %}

{% block title %}
<h1 class='pull-left-15px'>{{page.title}}</h1>
{% endblock %}

{% block sidenav %}
    <ul class='sidenav'>
    {% for sub in site.examples_subindexes %}
    <li><a href="{{sub.href}}">{{sub.title}} ({{sub.examples_count}})</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {{page.body}}
    <ol class='examples slats'>
    {% for egg in site.examples[:7] %}
    <li>
        <a href='{{egg.href}}'>
            <div class='thumbwrapper'><img src='{{egg.img}}' /></div>
            <h3>{{egg.title}}</h3>
            <p>{{egg.authordate}}
                <span class='tags'>
                {%- for tag in egg.tags -%}
                <span href='#' class='tag'>#{{tag}}</span>{% if not loop.last %}, {% endif -%}
                {%- endfor -%}
                </span>
            </p>
        </a>
    </li>
    {% endfor %}
    </ol>
{% endblock %}
