{% extends "basic.html" %}

{% block title %}
<h1 class='pull-left-15px'><a href='../'>Function reference</a><span class='sep'>&raquo;</span><a href='./'>{{page.class_name}}</a><span class='sep'>/</span>{{page.function_name}}</h1>
{% endblock %}

{% block sidenav %}
    <ul class='sidenav'>
    <li><a href="#">Some thing</a></li>
    <li><a href="#">Other derp</a></li>
    <li><a href="#">Final</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1><a href='./'>{{page.class_name}}</a><span class='sep'>/</span><strong>{{page.function_name}}</strong></h1>
    <p>{{page.snippet}}</p>

    <!--<h2>Usage</h2>
    <pre>{{page.return_type}} = {{page.function_name}}{{page.arguments}}</pre>-->

    <h2>Documentation</h2>
    {{page.body}} {# The help text comes in a <pre> already.... #}

{% endblock %}
