{% extends "basic.html" %}

{% block title %}
<h1 class='pull-left-15px'>{{page.title}}</h1>
{% endblock %}

{% block sidenav %}
<div class="col-sm-3 noleftpadding">
    <ul class='sidenav'>
    <li><a href="#">chebfun</a></li>
    <li><a href="#">chebfun2</a></li>
    <li><a href="#">chebfun2v</a></li>
    <li><a href="#">chebgui</a></li>
    <li><a href="#">chebmatrix</a></li>
    <li><a href="#">chebop</a></li>
    <li><a href="#">chebfunpref</a></li>
    <li><a href="#">cheboppref</a></li>
    <li><a href="#">domain</a></li>
    <li><a href="#">+utilities</a></li>
    </ul>
</div>
<div id='content' class="col-sm-9" role="main">
{% endblock %}

{% block content %}

{% endblock %}
