{% extends "basic.html" %}

{% block title %}
<h1 class='pull-left-15px'><a href='../'>Function reference</a><span class='sep'>&raquo;</span><a href='./'>{{page.class_name}}</a><span class='sep'>/</span>{{page.function_name}}</h1>
{% endblock %}

{% block sidenav %}
<div class="col-sm-2 noleftpadding">
    <ul class='sidenav'>
    {% for item in site.functions_class_names %}
        {% if item == page.class_name %}
        <li class='active'><a href="../{{item}}">{{item}}</a></li>
        {% else %}
        <li><a href="../{{item}}">{{item}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
<div id='content' class="col-sm-10" role="main">
{% endblock %}

{% block content %}
<!-- 
    <h1><a href='./'>{{page.class_name}}</a><span class='sep'>/</span><strong>{{page.function_name}}</strong></h1>
    <p>{{page.snippet}}</p>
 -->
    <div class="sectiontitle">Documentation</div>
    {{page.body_src|process_helptext|trim}}

{% endblock %}
