{% extends "basic.html" %}

{% block title %}
<h1 class='pull-left-15px'><a href='../'>Function reference</a><span class='sep'>&raquo;</span>{{page.class_name}}</h1>
{% endblock %}

{% block sidenav %}
    <ul class='sidenav'>
    <li><a href="#">Some thing</a></li>
    <li><a href="#">Other derp</a></li>
    <li><a href="#">Final</a></li>
    </ul>
{% endblock %}

{% block content %}
    <ul>
    {% for f in page.function_names %}
    <a href="{{f}}.html"><li><strong>{{f}}</strong><span class='sep'>&mdash;</span><span class='function-snippet'>{{page.function_snippets[loop.index]}}</span></li></a>
    {% endfor %}
    </ul>
{% endblock %}
