{% extends "basic.html" %}

{% block title %}
<h1 class='pull-left-15px'>{{page.title}}</h1>
{% endblock %}



{% block sidenav %}
<div class="col-sm-3 noleftpadding">
    <ul class='sidenav'>
    {% for item in site.functions_class_names %}
        {% if item == page.class_name %}
        <li class='active'><a href="../{{item}}">{{item}}</a></li>
        {% else %}
        <li><a href="../{{item}}">{{item}}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
<div id='content' class="col-sm-9" role="main">
{% endblock %}


{% block content %}

{% endblock %}
