{% extends "_base.html" %}

{% block body %}

<div class="page-wrapper homepage">

    <div class='page-header'>
        <h1>Chebfun<span class='sep'>&mdash;</span><span>numerical computing with functions</span></h1>
    </div>

    <div class="container main">
        <div class="row">
            <div class='description'>
                <div class='col-sm-9'>
                    <p>Chebfun is an open-source MATLAB package for computing
                    with functions to 15-digit accuracy. Most Chebfun commands
                    are overloads of familiar MATLAB commands &mdash; for
                    example <code>sum(f)</code> computes an integral,
                    <code>roots(f)</code> finds zeros, and <code>u =
                    L\f</code> solves a differential equation.</p>
                </div>
                <div class='col-sm-3'>
                    <div class="btn-group-vertical">
                    <button class='btn btn-lg btn-success btn-download'>Download</button>
                    <button class='btn btn-lg btn-primary btn-browsesource'>Browse source</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden flexslider billboard">
          <ul class="slides">
          {% include 'homepage-snippets.html' %}
          </ul>
        </div>

        <div class="row">
            <div class="col-md-12" role="main">
                {{page.body}}
            </div>
        </div>
    </div>

</div>

{% endblock %}
